<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Edit word</title>
  <link href="../css/bootstrap.min.css"
        rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <link href="../css/my-style.css" rel="stylesheet" th:href="@{/css/my-style.css}">
  <style>
    .field-error {
    border-color: #dc3545;
    color: #dc3545;
    }
  </style>
</head>
<body class="bg-light">
<div class="container mt-5">
  <div th:replace="~{fragments/header :: header}"></div>
  <h1 class="mb-3">단어의 의미를 수정하세요</h1>
  <div th:if="${errors}">
    <div class="alert alert-warning" role="alert"
         th:each="err : ${errors}" th:text="${err.defaultMessage}">
      This is a danger alert—check it out!
    </div>
  </div>
  <form class="needs-validation" method="post" th:action="@{/word/edit/{id}(id=${form.wordId})}"
        th:object="${form}">
    <div class="mb-3">
      <label class="form-label" for="word">Word:</label>
      <input class="form-control" id="word" required th:field="*{word}" type="text"/>
      <div class="invalid-feedback">
        Please enter a word.
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label" for="meaning">Meaning:</label>
      <input class="form-control" id="meaning" name="meaning" required th:field="*{meaning}"
             type="text"/>
      <div class="invalid-feedback">
        Please enter a meaning.
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>
</body>
</html>
