<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Submit Word</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/my-style.css}" href="../css/my-style.css" rel="stylesheet">
    <style>
        .field-error {
        border-color: #dc3545;
        color: #dc3545;
        }
    </style>
</head>
<body class="bg-light">
<div class="container mt-5">
    <div th:replace="~{fragments/header :: header}"></div>
    <h1 class="mb-3">새로운 단어를 입력하세요</h1>
    <div>
        <p th:field="${word.remainCount}">
            오늘 저장 남은 단어 갯수 : [[${word.remainCount}]]
        </p>
    </div>
    <form th:action="@{/word-meaning}" th:object="${word}" method="post" class="needs-validation">
        <div class="mb-3">
            <label for="nickname" class="form-label">Nickname:</label>
            <input type="text" id="nickname" th:field="*{nickname}" class="form-control" required readonly />
        </div>
        <div class="mb-3">
            <label for="word" class="form-label">Word:</label>
            <input type="text" id="word"  th:field="*{word}" class="form-control" required />
            <div class="field-error" th:errors="*{word}"></div>
            <div class="invalid-feedback">
                Please enter a word.
            </div>
        </div>
        <div class="mb-3">
            <label for="meaning" class="form-label">Meaning:</label>
            <input type="text" id="meaning" name="meaning" th:field="*{meaning}" class="form-control" required />
            <div class="invalid-feedback">
                Please enter a meaning.
            </div>
        </div>
        <div>
            <input type="hidden" th:field="*{remainCount}" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>
