<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Submit Word</title>
    <style>
        .form-group {
            margin-bottom: 5px; /* 각 폼 그룹 하단에 5px의 간격을 추가 */
        }
    </style>
</head>
<body>
<h1>Submit a New Word</h1>
<form th:action="@{/word}" th:object="${word}" method="post">
    <div class="form-group">
        <label for="userId">User ID:</label>
        <select id="userId" name="userId" required>
            <option value="" th:text="'Select User'">Select User</option>
            <option th:each="id : ${userIds}" th:value="${id}" th:text="${id}">User ID</option>
        </select>
    </div>
    <div class="form-group">
        <label for="word">Word:</label>
        <input type="text" id="word" name="word" th:value="*{word}" required />
    </div>
    <div class="form-group">
        <label for="meaning">Meaning:</label>
        <input type="text" id="meaning" name="meaning" th:value="*{meaning}" required />
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>
</body>
</html>
