<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Bootstrap CSS from local path -->
    <link th:href="@{/css/bootstrap.min.css}"  href="../css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/my-style.css}" href="../css/my-style.css" rel="stylesheet">
</head>
<body>
    <div style="position: absolute; top: 10px; right: 10px;" th:fragment="header" >
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" style="min-width: 70px;" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                목록
            </button>
            <div class="dropdown-content" aria-labelledby="dropdownMenuButton">
<!--                <a class="dropdown-item" type="button">Action</a>-->
                <a class="dropdown-item" href="/profile">내 정보</a>
                <form id="logout-form" action="/logout" method="post" style="display: none;"></form>
                <a href="/" class="dropdown-item" onclick="document.getElementById('logout-form').submit(); return false;">로그아웃</a>
            </div>
        </div>
    </div>
</body>
</html>