<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>나만의 단어장</title>
    <!-- Bootstrap CSS from local path -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h1>나만의 단어장</h1>
    <p>유저 가입</p>
    <div class="list-group">
        <a href="/user/new" class="list-group-item list-group-item-action">회원 가입</a>
        <a href="/login" class="list-group-item list-group-item-action">로그인</a>
        <a href="/logout" class="list-group-item list-group-item-action">비밀번호 변경</a>
<!--        <a href="/word" class="list-group-item list-group-item-action">단어 저장</a>-->
<!--        <a href="/words" class="list-group-item list-group-item-action">단어 목록</a>-->
    </div>
</div> <!-- /container -->
</body>
</html>
