<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Hello Spring</title>
    <!-- Bootstrap CSS from local path -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h1>Hello Spring</h1>
    <h3>안녕하세요</h3>
    <div class="list-group">
        <a href="/word" class="list-group-item list-group-item-action">단어 저장</a>
        <a href="/words" class="list-group-item list-group-item-action">단어 목록</a>
    </div>
</div> <!-- /container -->
</body>
</html>
